# macOS
.DS_Store
._*

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/
.env
.venv
venv/
env/

# VS Code
.vscode/
*.code-workspace

# data files
/data/
# images
*.png
*.jpg
*.jpeg
*.gif

# feature files
*.npy
*.npz

# metadata
*.csv
*.zip

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Blender
*.blend
*.blend1
*.exr

# Models (sklearn and PyTorch)
*.joblib
*.pkl
*.pt
*.pth

# Experiment directories
/experiments/

# Archive files
*/archive/*