# macOS
.DS_Store
._*

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/
.env
.venv
venv/
env/

# VS Code
.vscode/
*.code-workspace

# data files
# images
*.png
*.jpg
*.jpeg
*.gif
# metadata
*.csv
*.zip

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Blender
*.blend
*.blend1
*.exr

# PyTorch
*.pt
*.pth

# Archive files
*/archive/*